<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
  </head>
  <body>
    <h1>General Purpose Display</h1>
    <br />
    <br />
    <div class="idea">
      <form action="http://localhost:5000/api" method="POST">
        <p class="disptxt">
          Display Text :
          <span class="lis"
            ><input type="text" name="display_text" class="inpbox"
          /></span>
        </p>
        <p class="clock">Clock</p>
        <div class="clk">
          <label class="switch">
            <input type="checkbox" name="clock" />
            <span class="slider round"></span>
          </label>
        </div>
        <p class="table">Time Table</p>
        <div class="mcbc">
          <label class="switch">
            <input type="checkbox" name="time-table" />
            <span class="slider round"></span>
            <br />
            <br />
            <div class="drpdn">
              <select name="sems" id="sems">
                <option value="5th">5th Sem</option>
                <option value="3rd">3rd Sem</option>
                <option value="7th">7th Sem</option>
              </select>
            </div>
          </label>
        </div>

        <div class="wrapper">
          <button class="">
            <span>Submit</span>
            <div class="success">
              <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                viewBox="0 0 29.756 29.756"
                style="enable-background: new 0 0 29.756 29.756"
                xml:space="preserve"
              >
                <path
                  d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z"
                />
              </svg>
            </div>
          </button>
        </div>
      </form>
    </div>

    <script>
      let btn = document.querySelector("button");

      btn.addEventListener("click", active);

      function active() {
        btn.classList.toggle("is_active");
      }
    </script>
  </body>
</html>
